  <style>
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  html {
    scroll-behavior: smooth;
    font-size: 10px;
    background-color: rgb(207, 201, 201);
  }
  body {
    width: 100%;
    min-width: 800px;
    margin: 0 auto;
   
  }
  
  h1 {
    font-family: "Cinzel Decorative", cursive;
    font-size: 6rem;
    text-align: center;
    text-shadow: 2px 2px 8px #FF0000;
    padding: 0%;
  }
    
  
  h2 {
    font-size: 5rem;
    text-align: left;
    text-shadow: 2px 2px 8px #FF0000;
    
  }
  
  header {
    margin-bottom: 8px;
    display: flex;
    flex-flow: row wrap; 
    padding-top: 0px;
  }
  
  .firstL {
    grid-column-start: 1;
  }
  
  .secondL {
    padding-left: 100px;
  }
  .thirdL {
    padding-left: 140px;
  }
  .lastL {
    padding-left: 185px;
  }
  
  body > * {
    padding: 0%;
  }
  
  main header nav aside {
    background-color: rgb(183, 174, 174);
    padding: 2%;
  }
  
  h1 {
    flex: 2;
    text-transform: uppercase;
    padding-top: 0px;
  }
  header img {
    display: block;
    height: 20px;
    padding-top: 5.15px;
  }
  nav {
    height: 50px;
    flex: 100%;
    display: flex;
  }
  nav ul {
    padding: 9px;
    list-style-type: none;
    flex: 6;
    display: flex;
    color: blue;
   
  }
  nav li {
    display: inline;
    text-align: center;
    flex: 4;
    color: blue;   
    
  }
  nav a,
  nav span {
    display: inline-block;
    font-size: 3rem;
    height: 3rem;
    line-height: 1.7;
    text-transform: uppercase;
   
  }
  main {
    display: flex;
    padding-top: 45px;
  }
  .gridContainer{
    padding-left: 105px;
    line-height: 80px;
  }
  
  aside {
    flex: 1;
    margin-left: 20px;
    padding: 1px;
  }
  
  aside a {
    display: block;
    float: left;
    width: 500%;
  }
  
  aside img {
    max-width: 130%;
  }
  
  .imgbox {
    float: right;
    border: 1px dotted rgb(195, 72, 72);
    margin: 0px 0px 0px 10px;
    padding-top:4px;
    padding-right: 60px;
  } 

  
  #menu-services {

              margin-top: 128px;
              height: 10vh ;
            }
     
            h1{
              text-transform: uppercase;
              
              color: rgb(27, 25, 25);
              text-shadow: 0 0 3px #FF0000;
              font-size: 45px;
            }
    
                   #Service-item {
                    display: grid;
                    grid-template-columns: repeat(2, 250px);
                    gap: 5%;
                    justify-content: center;
                    padding-top: 7%;  
                    margin-bottom: 70px;
                   
                  }
                  .box { 
                    display: grid;
                    flex-wrap: wrap;
                    box-sizing: border-box;
                    padding-left: 80px;
                    padding-bottom: 2px;
                    width: 18%;
                 
                    justify-content: center;
                    gap: 5px;
                   
                  }
                  img {
                    box-sizing: border-box;
                    border: 6px solid red;
                  }
                  .box >p{
                    font-size: large;
                  }


                  #services1 {
                     margin-top: 150px;
                     height: fit-content;
                   }
        
                  .services1 h1{
                      text-align: center;
                     
                      text-transform: uppercase;
                      font-size: 40px;
                      text-shadow: 0 0 3px #FF0000;
                            
                   } 

        #navbar {
          position: relative;
          padding-top: 130px;
          padding-left: 119px;
          text-transform: uppercase;
          font-size: x-large;
          color: rgb(12, 2, 2);
          text-shadow: 2px 2px 8px #FF0000;
          
         
        }
         #navbar1 {
          position: absolute;
          right: 250px;
          text-transform: uppercase;
          top: 20%;
          color: rgb(12, 2, 2);
          text-shadow: 2px 2px 8px #FF0000;
          font-size:x-large
        }

      
      .item {
        position: relative;
        font-size: xx-large;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        letter-spacing: 3px;
        line-height: 40px;
        padding-top: 1px;
        padding-left: 40px;
      }
      
      .item1 {
        float: right;
        font-size:xx-large;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        letter-spacing: 4px;
        line-height: 52px;
       
        position:absolute;
        right: 40px;
        top: 32%;
        
      }
      span {
        color: red;
      }

 
      #container{
          
          display: flex;
          padding-top: 8%;
          width: 100%;
          margin-top: 35px;
      }
          .img_cont{
          padding-top: 27px;
          padding-left: 5px;
          height: 250px;
          float:left;


          }

          .content {
            padding-top: 15px;
          }

          .content h1{
          font-size: 40px;
          color:black;
          padding-top: 0px;

          }
          .content p{
          gap: 15px;
          padding-left: 20px;
          color: black;
          font-size:x-large;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          text-align: justify;
          line-height: 48px;
          }

                  p {
                      font-size: 50px;
                      text-transform: uppercase;
                  }
          
                  .design {
                      padding-top: 5px;
                      line-height: 8px;
                  }
          
                  .formdesign {
                      font-size: 30px;
          
                  }
          
                  #id {
                      color: #000;
                      
          
                  }
          
                  .formdesign input {
                      width: 30%;
                      padding: 25px 20px;
                      border: 2px solid rgb(25, 10, 231);
                      margin: 15px;
                      border-radius: 4px;
                      font-size: 15px;
                  }
          
                  .button {
                      border-radius: 15px;
                      width: 100px;
                      height: 50px;
                      font-size: 25px;
                      cursor: pointer;
                  }
          
                  .info {
                      padding-top: 10px;
                      margin-top: -40px;
                      text-align: right;
                      font-size: 20px;
                      text-indent: 10%;
                      position: absolute;
                      right: 20px;
                      top: 150px;
                      line-height: normal;
                  }
          
                  
         
    i {
      cursor: pointer;
    }
   


    .navbar {
      background-color: grey;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      text-transform: uppercase;
 

    }

    .cart {
      color: rgb(242, 13, 40);
      font-size: 30px;
      padding: 5px;
    }

    .cart-Amt {
      font-size: 20px;
      background-color: rgb(43, 226, 80);
      position: absolute;
      top: -12px;
      right: 0;
    }

    .order {

      display: grid;
      grid-template-columns: repeat(2, 219px);
      gap: 25px;
      justify-content: center;
      padding-bottom: 5px;
    }

    @media (max-width: 600px) {
      .order {
        grid-template-columns: repeat(2, 219px);
      }
    }

    @media (max-width: 300px) {
      .order {
        grid-template-columns: repeat(1, 219px);
      }
    }


    .order-item {
      border: 3px solid black;
      border-radius: 2px;
      padding: 5px 5px;
      text-transform: capitalize;
    }

    .order-detail {
      padding: 2px;
    }

    .order-price {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .button {
      display: flex;
      flex-direction: row;
      gap: 8px;
      font-size: 22px;
    }

    .bi-dash {
      color: red;
    }

    .bi-plus-lg {
      color: greenyellow;
    }


</style>
</html>
